.container-fluid {
  background-color: #373d51;
}

.container .jumbotron {
  background-image: url(https://freshfilmsfest.net/wp-content/uploads/2016/07/Film.jpg);
}

.container .jumbotron h1 {
    color: #27df86;
    margin-top: 50px;
}

.container .jumbotron p {
    color: #2fcdd9;
    margin-left: 250px;
  }

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

  .container .row .thumbnail img:hover {
    animation: bounce 1s
  }


.conainer .footer .row {
  display: inline-block;
  float: right;
}

.container .footer .row .contact {
  float: left;
  width: 30%;
}

.container .footer .row .feedback {
  float: right;
  width: 30%;
  }

.container .footer .row .links {
  width: 30%;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.container .footer .row  {
  background-image: url("https://www.ebu.ch/files/live/sites/ebu/files/Projects/TV/Exchanges/EurovisionFilmWeek_flyer_picture%20(2).jpg");
  padding: 10px;
  background-size: cover;
}
